<html>
   <head>
      <title>Личный кабинет</title>

      <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=c6008f6c-c8a0-49e8-9c5b-95c7bc49768e" type="text/javascript"></script>
      <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    


      <link href="../static/managet_account.css" rel="stylesheet">
      <script src="../static/managet_account.js"></script>

      
   </head>

   <body>
      <h1 class="dot" id='dot'>ТОЧКА МЕНЕДЖЕР</h1>
      <p id="login">{{login}}</p>
      <h1 id="tasks">Расписание встреч:</h1>
      <img src="../static/Ellipse 9.png" alt="" class="round">

      <div id="map" style="width: 619px; height: 500px; position: absolute; left: 850px; top: 200px; border: 2px solid #2F2F2F;"></div>
   </body>
</html>